/* common */
div {
  padding: 0;
  margin: 0;
}

/* TitlePane */
div.TitlePane {
  border-bottom: 2px groove #ddd;
  display: block;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 4px;
  padding-bottom: 4px;
  user-select: none;
  text-align: left;
}


/* ButtonPane */
div.ButtonPane {
  border-top: 2px groove #ddd;
  display: block;
  text-align: right;
  margin-top: 8px;
  padding-top: 4px;
  user-select: none;
}
.ButtonPane button,
.ButtonPane button.default {
  margin: 4px;
  padding: 8px 4px 8px 4px;
  border-radius: 4px;
  min-width: 100px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, transparent 100%);
  border: 1px solid #777;
  user-select: none;
}
.ButtonPane button.default {
  font-weight: bolder;
}
.ButtonPane button:hover {
  background-color: #333;
}
.ButtonPane button:hover.default {
  background-color: goldenrod;
}
.ButtonPane button:active,
.ButtonPane button:active.default {
  background: linear-gradient(to bottom, transparent 0%, rgba(255,255,255,1) 100%);
}
