/* common */

/* Form */
div.Form {
  background-color: #fff;
	border: 1px solid black;
	border-radius: 8px;
	padding: 16px;
}

/* TitlePane */
div.TitlePane {
  border-bottom: 2px groove #ddd;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 8px;
  padding-bottom: 4px;
  user-select: none;
  text-align: left;
}


/* ButtonPane */
div.ButtonPane {
  border-top: 2px groove #ddd;
  margin-top: 8px;
  padding-top: 4px;
  user-select: none;
}
div.ButtonPane > div {
  display: flex;
  justify-content: flex-end;
}
.ButtonPane button,
.ButtonPane button.default {
  margin: 4px;
  padding: 8px 4px 8px 4px;
  border-radius: 4px;
  min-width: 100px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, transparent 100%);
  border: 1px solid #777;
  user-select: none;
  background-color: #ddd;
}
.ButtonPane button.default {
  font-weight: bolder;
}
.ButtonPane button:hover,
.ButtonPane button:hover.default,
.ButtonPane button:active,
.ButtonPane button:active.default {
  background-color: #eee;
}
.ButtonPane button:active,
.ButtonPane button:active.default {
  background: linear-gradient(to bottom, transparent 0%, rgba(255,255,255,0.7) 100%);
  background-color: #eee;
}
